html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    min-height: 100vh;
    font-size: 62.5%;
    background-image: url(./assets/stoneBakcground.jpg);
    background-size: cover;
}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


@font-face {
    font-family: Tiamat Light;
    src: url(./assets/fonts/tiamat.otf);
}

@font-face {
    font-family: Tiamat Regular;
    src: url(./assets/fonts/tiamatregular.otf);
}

@font-face {
    font-family: Tiamat Alt;
    src: url(./assets/fonts/tiamatmedium.otf);
}

body {
    min-height: 100vh;
    /* position: relative; */
}

.wrapper {
    margin: 0 auto;
    width: 85%;
    min-height: auto;
    max-width: 1300px;
    background-image: url(./assets/scrollBackground.jpg);
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    padding: 4vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-image: url(./assets/leatherBackground2.jpg);
    border-bottom: 0.2rem solid black;
    height: 12vh;
    text-shadow: 2px 2px #000;
}

h1 {
    font-size: calc(3rem + 1.5vw);
    margin: 0;
    font-family: Tiamat Regular;
    color: white;
}

h2 {
    font-size: calc(2rem + 1vw);
    font-family: Tiamat Regular;
    margin: 0 0 2vh 0;
}


p, a, label {
    font-size: calc(1.5rem + 0.5vw);
    text-decoration: none;
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 0;
}

nav a {
    color: white;
}

nav a:hover, nav a:hover h1 {
    color: lightgrey;
}

.wrapper > div {
    background-color: peru;
    border: 0.1rem solid black;
    padding: 5% 5% 4% 5%;
}

div#gameList {
    margin-top: 4vh;
}

div.formContainer {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

#gameList ul, #charList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#gameList ul li, #charList ul li {
    width: 45%;
    background-color: blanchedalmond;
    /* height: 20vh; */
    /* margin-top: 4%; */
    margin-top: 4%;
}

#hostedGameList {
    margin-top: 3%;
}

div.gameContainer {
    width: 100%;
    background-color: blanchedalmond;
    height: 20vh;
    margin-top: 3%;
}

input[type = submit] {
    font-family: Tiamat Regular;
    font-size: 25px;
    color:crimson;
    background-color: black;
    border: black;
    max-width: 150px;
}

input[type = submit]:hover{
    color:black;
    background-color: crimson;
    border: crimson;
    max-width: 150px;
}

div.right{
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

label{
    font-family: Tiamat Regular;
    font-size: 25px;
    

}
/* p{
    display: inline-block;
} */
ul{
    display: inline-block;
    font-size: 20px;
    font-family: Tiamat Regular;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 18px
}
li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #4c4c4c;
}

.helptext{
    font-family: Tiamat Regular;
    font-size: 20px;
    display: block;
    padding: 10px 0px;
    margin: 10px 0px;
    color:#4c4c4c;
}
input{
    display: inline-block;
    
}

nav ul{
    position: static;
}
/* sign-up sheet styles */

input[name = username]{
    position: absolute;
    left: 400px;
} 

input[name = first_name]{
    position: absolute;
    left: 400px;
} 

input[type = email]{
    position: absolute;
    left: 400px;
}

input[type = password]{
    position: absolute;
    left: 400px;
}

/* home sheet styles */

.chooseGame{
    font-size: 20px;
}

.sortBy{
    font-size: 20px;
}


input[name = searchCampaign]{
    font-size: 20px;
    
    display: block;
}

input[name = searchGame]{
    font-size: 20px;
    display: block;
}

/* create a game style */

input[name = game_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

input[name = campaign_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

#id_game_type{
    font-size: 20px;
    position: relative;
    left: 10px;
}

/* create a character style*/

input[name = name_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

input[name = player_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

input[name = player_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

input[name = race_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

input[name = class_text]{
    font-size: 20px;
    position: relative;
    left: 10px;
}

/* style game listings */

li p, li a{
    margin: 10px;
}

#gameList li{
    border: 4px outset saddlebrown;
}

input[name = newPlayers]{
    height: 20px;
    width: 20px;
}

/*Acoount info style*/

.accountInfo{
    margin: 20px;
    font-family: Tiamat Regular;
}

.gamesIn{
    margin: 20px;
    font-family: Tiamat Regular;
}
/*key vesus value enboldeners*/

.greyed{
    color: #484848;
}

.blacken{
    color: black;
}

#gameList a{
    font-size: 30px;
}
.center{
    text-align: center;
    margin-top: 10px;
}

/*Game detail style*/
#gameDetail{
    font-family: Tiamat Regular;
}

#gameDetail a{
    color: crimson;
    font-family: Tiamat Regular;
}

#gameDetail a:hover{
    color: black;
}



#gameDetail button:hover{
    background-color: crimson;
}

#gameDetail button{
    display: inline-block;
}


.edButton{
    margin: 20px;
    margin-left:0px;
    padding: 20px;
    background-color: black;
    color: crimson;
    border-radius: 20%;
    max-width: 100px;
    text-align: center;
    display: inline-block;
}

.edButton:hover{
    background-color: crimson;
    color: black;
    
}

.green{
    color: chartreuse;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.red{
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#charList li{
    border: 4px outset saddlebrown;
}

#charList button{
    background-color: black;
    border: black;
    color: crimson;
    padding: 10px;
}

.alert{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Tiamat Regular;
    color:chartreuse;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Delete Page Style*/

.delete{
    font-family: Tiamat Regular;
}

.delete h1{
    color: black;
    font-size: 30px;
}

h4{
    font-size: 25px;
}

.delete input{
    margin-right: 20px;
}

.deleteCancel{
    background-color: black;
    width: 110px;
    text-align: center;
    display: inline-block;
    height: 28px;
}

.deleteCancel:hover{
    background-color: crimson;
}

.deleteCancel a:hover{
    color: black;
}

.delete a{
    color: crimson;
    font-size: 25px;
}

.deleteCancel2{
    background-color: black;
    width: 80px;
    text-align: center;
    margin-right: 20px;
    font-family: Tiamat Regular;
    display: inline-block;
    height: 28px;
    position: relative;
    top: -1.5px;
}

.deleteCancel2 a{
    color: crimson;
}

.deleteCancel2:hover{
    background-color: crimson;
}

.deleteCancel2 a:hover{
    color: black;
}
.Deleted{
    color: red;
    margin: 20px;
}

.join{
    background-color: black;
    width: 304.3px;
    height: 46px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 325px;
    bottom: 46px;
}

.join:hover{
    background-color: crimson;
}

.join a{
    position: relative;
    top: 10px;
}

.join a:hover{
    color: black;
}

.joinButton{
    display: flex;
    flex: wrap;
    justify-content: row;
}