{% extends 'base.html' %}
{% block content %}
<div class="accountInfo">
    <h2>This is your account info</h2>
    <p><span class="greyed">Username:</span> {{ username }}</p>
    <p><span class="greyed">Display Name:</span> {{ first_name }}</p>
    <p><span class="greyed">Email Address:</span> {{ email }}</p>
    <p><span class="greyed">Date Joined:</span> {{ date_joined }}</p>
    <a href="{% url 'group_finder:account_update'%}"><button>Edit</button></a>

</div>
<div class="gamesIn">
    {% if personal_game_list%}
        <h2>These are the games you're in</h2>
        {% for game in personal_game_list %}
    

        <p><span class="greyed">Game Name:</span><a href="{% url 'group_finder:detail' game.id %}"> {{ game.game_text }}</a></p>
        <p><span class="greyed">Host:</span> {{ game.host }}</p>
        
        {% if game.application_username %}

        <p>Applications:</p>

        {% for username in game.application_username %}
        
        <p>{{ username }} <a href="{% url 'group_finder:approve' game.id username %}"><button>Approve</button></a> <a href="{% url 'group_finder:deny' pk=game.id user_id_string=username %}"><button>Deny</button></a> </p>

        {% endfor %}

        {% endif %}

        {% endfor %}
    {% else %}
        <h2>There are no games you're in! Join or start a game!</h2>
    {% endif %}

</div>
{% endblock %}