{% extends 'base.html' %}
{% block content %}
<div>
    <h2>This is your account info</h2>
    <p>Username: {{ username }}</p>
    <p>Display Name: {{ first_name }}</p>
    <p>Email Address: {{ email }}</p>
    <p>Date Joined: {{ date_joined }}</p>

</div>
<div>
    {% if personal_game_list%}
        <h2>These are the games you're in</h2>
        {% for game in personal_game_list %}
        <!-- <p> -->
            <!-- {{ game }} -->
        <p><a href="{% url 'group_finder:detail' game.id %}">Game Name: {{ game.game_text }}</a></p>

        <!-- </!--> 
        {% endfor %}
    {% else %}
        <h2>There are no games you're in! Join or start a game!</h2>
    {% endif %}

</div>
{% endblock %}