{% extends 'base.html' %}
{% block content %}
<div id="gameDetail">
    <h2>{{ object.game_text }}</h2>
    <div>
        <p>Game: {{ object.game_type }}</p>
        <p>Campaign: {{ object.campaign_text }}</p>
        <p>Number of Players: {{ num_players }}</p>
        <p>Current Members:
            {% for participant in participant_names %}
            {% if participant == last_participant %}
            {{ participant }}
            {% else %}
            {{ participant }},
            {% endif %}        
            {% endfor %}
        </p>
        <p>
            Accepting New Players?             
            {% if object.accepting_players %}
                Yes
        
            {% else %}
                No
            {% endif %}
        
        <div id="charList">
            <h2>Characters in this game: </h2>
            <button><a href="{% url 'group_finder:character_create' object.id %}">Create a new character for this game</a></button>
            <ul>
                {% for character in characters %}
                <li>
                    <p>Character Name: {{ character.name_text }}</p>
                    <p>Player Name: {{ character.player_text }}</p>
                    <p>Character Race: {{ character.race_text }}</p>
                    <p>Character Class: {{ character.class_text }}</p>

                </li>
                
                {% endfor %}
            </ul>
        </div>
            

        {% if object and object.host_id == request.user.id %}</h2>
            <div>
                <a href="{% url 'group_finder:game_update' game.id %}">Edit</a>
                <a href="{% url 'group_finder:game_delete' game.id %}">Delete</a>
            </div>

        {% elif object and object.host_id != request.user.id %}

            <div>
                <a href="{% 'url group_finder:game_apply' game.id %}">Apply to Join This Game</a>
            </div>

        {% endif %}

    </div>

</div>
{% endblock %}