{% extends 'base.html' %}
{% block content %}
<div id="gameDetail">
    <h2>{{ object.game_text }}</h2>
    <div>
        <p><span class="greyed">Game:</span> {{ object.game_type }}</p>
        <p><span class="greyed">Campaign:</span> {{ object.campaign_text }}</p>
        <p><span class="greyed">Host:</span> {{ host }}</p>
        <p><span class="greyed">Number of Players:</span> {{ num_players }}</p>
        <p><span class="greyed">Current Members:</span>
            {% for participant in participant_names %}
            {% if participant == last_participant %}
            {{ participant }}
            {% else %}
            {{ participant }},
            {% endif %}        
            {% endfor %}
        </p>
        <div>
            <p><span class="greyed">Accepting New Players?</span>             
            {% if object.accepting_players %}
                &nbsp; <span class="green">Yes</span>
        
            {% else %}
                &nbsp; <span class="red">No</span>
            {% endif %}
            </p>

        {% if character and in_game %}
        
        <div class="joinButtons">
            <div id="charList">
                <h2>Characters in this game: </h2>
                    <button><a href="{% url 'group_finder:character_create' object.id %}">Create a new character for this game</a></button>
                    <ul>
                    {% for character in characters %}
                        <li>
                            <p>Character Name:<span class="blacken">{{ character.name_text }}</span></p>
                            <p>Player Name: <span class="blacken">{{ character.player_text }}</span></p>
                            <p>Character Race: <span class="blacken">{{ character.race_text }}</span></p>
                            <p>Character Class: <span class="blacken">{{ character.class_text }}</span></p>
                        </li>
                    {% endfor %}
                    </ul>

                
                
            </div>
        </div>
            
        {% endif %}

            {% if object and object.host_id == request.user.id %}</h2>
                <div class="edButton">
                    <a href="{% url 'group_finder:game_update' game.id %}">Edit</a>
                </div>
                <div class="edButton">
                    <a href="{% url 'group_finder:game_delete' game.id %}">Delete</a>
                </div>

            {% elif object and object.host_id != request.user.id %}

            <div>
                <form action="{% url 'group_finder:game_apply' game.id %}" method="GET">
                    <input type="submit" value="Apply to Join This Game">

                    {% if character %}

                    <label for="role">Specify Role</label>
                    <select name="role" id="role">
                        <option value="any">Any/I don't care</option>
                        <option value="tank">Tank</option>
                        <option value="healer">Healer</option>
                        <option value="melee_dps">Melee DPS</option>
                        <option value="ranged_dps">Ranged DPS</option>
                        <option value="utility">Utility</option>
                    </select>

                    {% endif %}

                </form>
            </div>

        {% endif %}

    </div>

</div>
{% endblock %}