{% extends 'base.html' %}
{% block content %}

<div id="findGame">
    <h2>Find a Game</h2>
    <form action="/group_finder/" method="GET">
        {% csrf_token %}
        <div class="formContainer">
            <div>
                <label for="searchGame">Search by Game Name</label>
                <input type="text" id="searchGame" name="searchGame">
            </div>
            <div>
                <label for="sortBy">Sort By:</label>
                <select name="sortBy" id="sortBy">
                    <option value="recent">Recently Created</option>
                    <option value="name">Game Name</option>
                    <option value="numPlayersDescending">Number of Players (descending)</option>
                    <option value="numPlayersAscending">Number of Players (ascending)</option>
                </select>
            </div>
        </div>
        <div class="formContainer">
            <div>
                <label for="searchCampaign">Search by Campaign Name</label>
                <input type="text" id="searchCampaign" name="searchCampaign">
            </div>
            <div>
                <label for="chooseGame">Filter By Game:</label>
                <select name="chooseGame" id="chooseGame">
                    <option value="dnd">D&D</option>
                    <option value="magic">Magic the Gathering</option>
                    <option value="boardGame">Board Games</option>
                    <option value="yugioh">Yu-Gi-Oh TCG</option>
                    <option value="pokemon">Pokemon TCG</option>
                    <option value="pathfinder">Pathfinder</option>
                    <option value="warhammer">Warhammer</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <div class="formContainer">
            <div>
                <label for="newPlayers">Only find games that are accepting new players</label>
                <input type="checkbox" id="newPlayers" name="newPlayers">
            </div>
            <input type="submit">
        </div>
    </form>
</div>

<div id="gameList">
    <h2>Recent Game Listings</h2>
    {% if latest_game_list %}
        <ul>
        {% for game in latest_game_list %}
        <li>
            <a href="{% url 'group_finder:detail' game.id %}">Game Name: {{ game.game_text }}</a>
            <p>Campaign Name: {{ game.campaign_text }}</p>
            <p>Number of Players:{{ game.num_players }}</p>
        </li>
        <!-- <li><a href="">Game Link Here</a></li> -->
        
        {% endfor %}
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
        
</div>
    
{% endblock %}
