<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'group_finder/style.css' %}">
</head>
<body>
    <nav>
        <a href=""><h1>P3DD</h1></a>
        <ul>
            <li><a href="{% url 'group_finder:index' %}">Home</a></li>
            <li><a href="{% url 'group_finder:account' %}">Account</a></li>
            <li><a href="{% url 'group_finder:management' %}">Game Management</a></li>
            <li><a href="{% url 'group_finder:about' %}">About</a></li>
        </ul>
        <!-- if signed in -->
        <h3>
            <!-- username here -->
        </h3>
        <!-- else -->
        <h3>
            <a href="{% url 'group_finder:login' %}">Sign In</a>
        </h3>
    </nav>
    <div class="wrapper">
        <div>
            <h2>Create a New Game</h2>
            <form action="POST">
                <label for="gameName">Game Name: </label>
                <input type="text" id="gameName">
                <label for="campaignName">Campaign Name: </label>
                <input type="text" id="campaignName">
                <input type="submit" value="Create Game">
            </form>
        </div>
        <div id="hostedGameList">
            <h2>This is the DM page for creating/editing games</h2>
            {% for game in hosted_game_list %}

            <!-- <p>{{ game }}</p> -->
            <div class="gameContainer">
                <a href="{% url 'group_finder:detail' game.id %}">Game Name: {{ game.game_text }}</a>
                <a href="{% url 'group_finder:edit' game.id %}">Edit Game</a>
            </div>
                
            {% endfor %}
        </div>
    </div>
</body>
</html>